<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Tickets </title>
		<link rel="icon" type="image/icon" href="logo.png" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="css/lightbox.css" />
		<script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp2zRSeegCKFERACVFBM30GHQLmtYrVE4&sensor=false"></script>
	</head>
	<body ng-app="TicketsApp" ng-controller="MainCtrl as vm">
		<section class="login-section" ng-if="vm.loginForm" key-enter="vm.login()" >
			<i class="fas fa-times-circle" ng-click="vm.loginForm=false"></i>
			<h1>Login</h1>
			<input type="text" name="username" placeholder="Username" ng-model="vm.username"  />
			<input type="password" name="password" placeholder="Password" ng-model="vm.password" />
			<button class="login background-color-red" ng-click="vm.login()">Login</button>
			<hr/>
			<button class="register">Registracija</button>
		</section>
		<nav class="shadow">
			<img class="logo" src="logo.png" ng-click="vm.eventDetailView = false;vm.sliderInvisible = false;" />
			<span class="ulogovan-info shadow" ng-show="vm.jeUlogovan" >
				<img ng-if="vm.ulogovanKorisnik.img != undefined" src="{{vm.ulogovanKorisnik.img}}" /> <br/>
				Ulogovan korisnik je:{{vm.ulogovanKorisnik.name}}
				<button ng-if="vm.jeUlogovan" ng-click="vm.jeUlogovan=false" class="login background-color-red">Logout</button>
			</span>
			<ul>
				<li ng-click="vm.eventDetailView = false;vm.sliderInvisible = false;"><a href="/">Home</a></li>
				<li ng-click="vm.eventDetailView = false;vm.sliderInvisible=true;"><a href="#!/admin" ng-if="vm.ulogovanKorisnik.type == 'admin'">Admin Panel</a></li>
				<li ng-click="vm.eventDetailView = false;vm.sliderInvisible=true;"><a href="#">Artists</a></li>
				<li ng-click="vm.eventDetailView = false;vm.sliderInvisible=true;"><a href="#!/about">About us</a></li>
				<li ng-click="vm.eventDetailView = false;vm.sliderInvisible=true;" ng-if="vm.jeUlogovan"><a href="#!/rezervacije"> Moje Rezervacije <i class="fas fa-cart-arrow-down"></i></a></li>
				<!--<li><a href="#"><i class="fas fa-map-marker-alt"></i> Change Location </a></li>-->
				<li>
					<form class="example" style="max-width:400px">
					  <input type="text" placeholder="Search for desired artist" name="search2" ng-model="searchText.artist"><i class="fa fa-search"></i>
					  <!-- <button class="background-color-red" type="submit"><i class="fa fa-search"></i></button> -->
					</form>
				</li>
				<li>
					<button ng-if="!vm.jeUlogovan" ng-click="vm.loginForm=true" class="login background-color-red"> Login </button>
					<button ng-if="vm.jeUlogovan" ng-click="vm.jeUlogovan=false" class="login background-color-red">Logout</button>
				</li>
			</ul>
		</nav>
		<header ng-if="!vm.sliderInvisible">
			<img class="mySlides" src="http://www.amaliearena.com/assets/img/iron_640x360-bcbca896aa.jpg">
			<img class="mySlides" src="http://www.metalsucks.net/wp-content/uploads/2017/08/metallicaheavymontreal2017.jpg">
			<img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRz5Lk95lylTy2gHKiFV49wN4GJHW3c9tMRUt-L1h4mpCmi4X_">
			<section class="image-slide-controls">
				<span class="arow-left text-shadow" onclick="plusDivs(-1)">&#10094;</span>
				<span class="fas fa-dot-circle pointer" onclick="currentDiv(1)"></span>
				<span class="fas fa-dot-circle pointer" onclick="currentDiv(2)"></span>
				<span class="fas fa-dot-circle pointer" onclick="currentDiv(3)"></span>
				<span class="arow-right text-shadow" onclick="plusDivs(1)">&#10095;</span>
			</section>
		</header>
		<aside ng-if="vm.eventDetailView" class="event-list-item">
			<img class="event-list-item-img2" src="{{vm.event.poster}}" />
			<h1>{{vm.event.artist}}</h1>
			<h5>{{vm.event.date}} &nbsp; &nbsp; {{vm.event.location.venue}}, {{vm.event.location.city}}</h5>
			<div class="alert" ng-show="!vm.jeUlogovan">Please log in to buy a ticket</div>
			<section ng-show="vm.jeUlogovan" class="buy-ticket" name="text">
			
				<label>seat type:</label>
				<select class="background-color-red" 
				ng-options="tickets.type for tickets in vm.event.tickets"
				ng-model="selectedOption">

				</select>
				
				<label>amount :</label>
				<input type="number" min="0" max="{{selectedOption.inStock}}" ng-model="brojKomada" placeholder="enter">
				<label>total price:</label>
				<input type="number" ng-model="selectedOption.price*brojKomada" readonly="readonly"> din.
				<button class="buy background-color-red" ng-click="vm.buyTicket(selectedOption, brojKomada)">Buy ticket</button><br><br>
			</section>
			<div class="event-description event-description-shadow">
			Event details<br><br>
			{{vm.event.description}}
			</div>
			<div class="gallery-img">
			<!-- <img class="gallery-img-full" src="{{vm.event.photo}}" /> -->
			<br>
			<p class="gallery">Gallery</p>
				<div class="gallery-img gallery-img-size">
					<a ng-repeat="photo in vm.event.gallery" href="{{photo}}" data-lightbox="photo"><img class="gallery-img-size gallery-opacity" src="{{photo}}" /></a>
					<img class="gallery-img-full" src="{{vm.event.band_photo}}" />
				</div>
				
			</div>
			<h3> Location </h3>
			<my-maps id="map" lat="{{vm.event.location.lat}}" lng="{{vm.event.location.lng}}"></my-maps>

		</aside>
		
		<main ng-if="!vm.eventDetailView" ng-view="">
		</main>
		<footer> 
		Copyright &copy;2017 HCI Projekat - Univerzitet Singidunum
		</footer>
		<div id="snackbar"> Ticket sucessfuly bought! </div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
	    <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
	    <script src="bower_components/angular/angular.min.js"></script>
		<!--
	    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		-->
		<script src="bower_components/angular-route/angular-route.js"></script>

	    <script src="js/app.js"></script>
		<script src="js/lightbox.min.js"></script>
		<script src="js/lightbox.js"></script>
		
		<script>
		var slideIndex = 1;
		showDivs(slideIndex);
		function plusDivs(n) {
		  showDivs(slideIndex += n);
		}
		function currentDiv(n) {
		  showDivs(slideIndex = n);
		}
		function showDivs(n) {
		  var i;
		  var x = document.getElementsByClassName("mySlides");
		  var dots = document.getElementsByClassName("demo");
		  if (n > x.length) {slideIndex = 1}    
		  if (n < 1) {slideIndex = x.length}
		  for (i = 0; i < x.length; i++) {
		     x[i].style.display = "none";  
		  }
		  x[slideIndex-1].style.display = "block";
		}
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("main article").click(function() {
					$('html, body').animate({
						scrollTop: $("main").offset().top
					}, 500);
				});
				$("nav ul li").click(function() {
					$('html, body').animate({
						scrollTop: $("nav").offset().top
					}, 2000);
				});

				$("ol li").click(function() {
					$('html, body').animate({
						scrollTop: $("main").offset().top
					}, 2000);
				});

				$(".ulogovan-info").click(function(){
			        $(".ulogovan-info img").slideToggle("slow");
			    });

			});
		</script>
	</body>
</html>