<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Tickets </title>
		<link rel="icon" type="image/icon" href="logo.png" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body ng-app="TicketsApp" ng-controller="MainCtrl as vm">
		<section class="login-section" ng-if="vm.loginForm">
			<i class="fas fa-times-circle" ng-click="vm.loginForm=false"></i>
			<h1>Login</h1>
			<input type="text" name="username" placeholder="Username" ng-model="vm.username" />
			<input type="password" name="password" placeholder="Password" ng-model="vm.password" />
			<button class="login background-color-red" ng-click="vm.login()">Login</button>
			<hr/>
			<button class="register">Registracija</button>
		</section>
		<nav class="shadow">
			<img class="logo" src="logo.png" ng-click="vm.eventDetailView = false" />
			<span class="ulogovan-info shadow" ng-show="vm.jeUlogovan" >
				<img ng-if="vm.ulogovanKorisnik.img != undefined" src="{{vm.ulogovanKorisnik.img}}" /> <br/>
				Ulogovan korisnik je:{{vm.ulogovanKorisnik.name}}
				<button ng-if="vm.jeUlogovan" ng-click="vm.jeUlogovan=false" class="login background-color-red">Logout</button>
			</span>
			<ul>
				<li ng-click="vm.eventDetailView = false"><a href="/">Home</a></li>
				<li><a href="#">Artists</a></li>
				<li><a href="#!/about">About us</a></li>
				<li ng-if="vm.jeUlogovan"><a href="#!/rezervacije"> Moje Rezervacije <i class="fas fa-cart-arrow-down"></i></a></li>
				<!--<li><a href="#"><i class="fas fa-map-marker-alt"></i> Change Location </a></li>-->
				<li>
					<form class="example" style="max-width:400px">
					  <input type="text" placeholder="Search for desired artist" name="search2" ng-model="searchText.artist"><i class="fa fa-search"></i>
					  <!-- <button class="background-color-red" type="submit"><i class="fa fa-search"></i></button> -->
					</form>
				</li>
				<li>
					<button ng-if="!vm.jeUlogovan" ng-click="vm.loginForm=true" class="login background-color-red"> Login </button>
					<button ng-if="vm.jeUlogovan" ng-click="vm.jeUlogovan=false" class="login background-color-red">Logout</button>
				</li>
			</ul>
		</nav>
		<header ng-if="!vm.eventDetailView">
			<img class="mySlides" src="http://www.amaliearena.com/assets/img/iron_640x360-bcbca896aa.jpg">
			<img class="mySlides" src="https://vignette.wikia.nocookie.net/starpolar/images/b/b2/Metallica_logo_wallpaper.jpg/revision/latest?cb=20150224011904">
			<img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRz5Lk95lylTy2gHKiFV49wN4GJHW3c9tMRUt-L1h4mpCmi4X_">
			<section class="image-slide-controls">
				<span class="arow-left text-shadow" onclick="plusDivs(-1)">&#10094;</span>
				<span class="fas fa-dot-circle pointer" onclick="currentDiv(1)"></span>
				<span class="fas fa-dot-circle pointer" onclick="currentDiv(2)"></span>
				<span class="fas fa-dot-circle pointer" onclick="currentDiv(3)"></span>
				<span class="arow-right text-shadow" onclick="plusDivs(1)">&#10095;</span>
			</section>
		</header>
		<aside ng-if="vm.eventDetailView" class="event-list-item">
			<img class="event-list-item-img2" src="{{vm.event.poster}}" />
			<h1>{{vm.event.artist}}</h1>
			<h5>{{vm.event.date}} &nbsp &nbsp{{vm.event.location.city}}</h5>
			<section class="buy-ticket">
				<select class="background-color-red">
					<option>Parter</option>
					<option>Tribina</option>
					<option>Fan pit</option>
				</select>
				<label>kolicina:</label>
				<input type="number" min="0" ng-model="brojKomada" placeholder="kolicina">
				<label>ukupna cena:</label>
				<input type="number" ng-model="500*brojKomada" readonly="readonly"> din.
				<button class="buy background-color-red">Kupi kartu</button><br><br>
			</section>
			<div class="event-description event-description-shadow">
			Event details<br><br>
			{{vm.event.description}}
			</div>
			<div class="gallery-img">
			<!-- <img class="gallery-img-full" src="{{vm.event.photo}}" /> -->
			<br>
			<p class="gallery">Gallery</p>
				<div class="gallery-img gallery-img-size">
					<img ng-repeat="photo in vm.event.gallery" class="gallery-img-size" src="{{photo}}" />
					<img class="gallery-img-full" src="{{vm.event.band_photo}}" />
				</div>
				
			</div>

		</aside>
		
		<main ng-if="!vm.eventDetailView" ng-view="">
		</main>
		<footer> 
		Copyright &copy;2017 HCI Projekat - Univerzitet Singidunum
		</footer>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
	    <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
	    <script src="bower_components/angular/angular.min.js"></script>
		<!--
	    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		-->
		<script src="bower_components/angular-route/angular-route.js"></script>

	    <script src="js/app.js"></script>
		
		<script>
		var slideIndex = 1;
		showDivs(slideIndex);
		function plusDivs(n) {
		  showDivs(slideIndex += n);
		}
		function currentDiv(n) {
		  showDivs(slideIndex = n);
		}
		function showDivs(n) {
		  var i;
		  var x = document.getElementsByClassName("mySlides");
		  var dots = document.getElementsByClassName("demo");
		  if (n > x.length) {slideIndex = 1}    
		  if (n < 1) {slideIndex = x.length}
		  for (i = 0; i < x.length; i++) {
		     x[i].style.display = "none";  
		  }
		  x[slideIndex-1].style.display = "block";
		}
		</script>
		
	</body>
</html>