<article class="about">
<h1> Welcome to Tickets.com </h1>
<p>This is the about view.</p>
<p>
This is a prototype for Tickets.com application that we are developing as a final exam
for Human-Computer Interaction course.
</p>
<h3> Tehnology stack </h3>
<p>
	<i>MongoDB, Flask, AngularJS</i>
</p>
<h2> Our Team </h2>
<!-- <ul>
	<li>Nikola Obradovic</li>
	<li>Milovan Mihajlovic</li>
	<li>Milos Rastovic</li>
</ul> -->
<article class="team">
	<section class="team-member">
	<a href="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/10274309_10201063890198722_6856820134150065638_n.jpg?_nc_cat=0&oh=49260838ae47041193f1bdfa6d21f20e&oe=5B7BDFFB" data-lightbox="gallery">
	<img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/10274309_10201063890198722_6856820134150065638_n.jpg?_nc_cat=0&oh=49260838ae47041193f1bdfa6d21f20e&oe=5B7BDFFB" />
	</a>
	<br/>
	<h3>Nikola Obradovic</h3>
	</section>
	<section class="team-member">
	<a href="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/13615495_595828730608833_3477779307324026921_n.jpg?_nc_cat=0&oh=78fd412cd84190d0f2ab69aa7a7985dc&oe=5B802DD3" data-lightbox="gallery">
	<img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/13615495_595828730608833_3477779307324026921_n.jpg?_nc_cat=0&oh=78fd412cd84190d0f2ab69aa7a7985dc&oe=5B802DD3" />
	</a>
	<br/>
	<h3>Milovan Mihajlovic</h3>
	</section>
	<section class="team-member">
	<a href="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/19059634_1421512634571450_6890223817733595719_n.jpg?_nc_cat=0&oh=0a491a1f3059493c96014b769b0dca6f&oe=5BB6CF7A" data-lightbox="gallery">
	<img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/19059634_1421512634571450_6890223817733595719_n.jpg?_nc_cat=0&oh=0a491a1f3059493c96014b769b0dca6f&oe=5BB6CF7A" />
	</a>
	<br/>
	<h3>Milos Rastovic</h3>
	</section>
</article>

</article>
<style type="text/css">
	.about {
		background-color: #fff;
		padding: 2em 0em;

	}
	.team {

	}
	.team-member {
		border-radius: 1em;
		display: inline-block;
		margin: 1em;
		/*padding: 1em;*/
	}
/*	.team-member:hover {
		box-shadow: 0px 0px 15px #999;
	}*/
	.team-member img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border-width: 1em;
		border-color: black;
		overflow: hidden;
		object-fit: cover;
		box-shadow: 0px 0px 15px #222;
		opacity: .8;
	}
	.team-member img:hover {
		opacity: 1;
		box-shadow: 0px 0px 15px #000;
	}
</style>