<article class="rezervacije">

  <h2>Moje rezervacije  {{vm.ulogovanKorisnik.name}}. </h2>

  <section ng-repeat="rezervacija in vm.ulogovanKorisnik.rezervacije | filter:searchText | limitTo: 8" class="rezervacija shadow">
    <i class="fas fa-times-circle" 
    ng-click="vm.ulogovanKorisnik.rezervacije.splice(vm.ulogovanKorisnik.rezervacije.indexOf(rezervacija),1)"></i>
    <img src="{{rezervacija.event.poster}}" />
    <aside class="rezervacija-info">
      <h3> {{rezervacija.event.artist}} </h3>
      <i> {{rezervacija.event.date}} </i>
      <strong> {{rezervacija.event.location.venue}} {{rezervacija.event.location.city}} </strong>
      <p>
        {{rezervacija.event.description | limitTo: 260}}...
      </p>
      <strong> Tip ulaznice: {{rezervacija.type}} ({{rezervacija.count}}kom.) - {{rezervacija.count * rezervacija.price}} din. </strong>
    </aside>
  </section>

  <section class="pagination">
    <a href="">&laquo;</a>
    <!-- <a click="vm.currentPage=page" ng-repeat="page in (vm.ulogovanKorisnik.rezervacije.length / 8)">{{page}}</a> -->
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">&raquo;</a>
  </section>

</article>

<style type="text/css">
article.rezervacije {
  /*margin: 1em;*/
  padding: 1em;
  background-color: #fff;
  text-align: left;
}
article.rezervacije h2 {
  text-align: center;
}
section.rezervacija {
  background-color: #444;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}
section.rezervacija img {
  width: 20%;
  height: 180px;
  margin: 1em;
  /*padding: 1em;*/
  text-align: left;
  position: relative;
  object-fit: contain;
}
aside.rezervacija-info {
  display: inline-block;
  position: relative;
  /*top: -4em;*/
  width: 50%;
  height: 100%;
  /*margin: 1em;*/
  padding: 1em;
  text-align: left;
  /*background-color: #fff;*/
}
</style>