<article class="rezervacije">

  <h2>Moje rezervacije  {{vm.ulogovanKorisnik.name}}. </h2>

  <section ng-repeat="rezervacija in vm.ulogovanKorisnik.rezervacije | filter:searchText | limitTo: 8" class="rezervacija shadow">
    <i class="fas fa-times-circle" 
    ng-click="vm.rezervacijaZaBrisanje = rezervacija"></i>
    <img src="{{rezervacija.event.poster}}" />
    <aside class="rezervacija-info">
      <h3> {{rezervacija.event.artist}} </h3>
      <i> {{rezervacija.event.date}} </i>
      <strong> {{rezervacija.event.location.venue}} {{rezervacija.event.location.city}} </strong>
      <p>
        {{rezervacija.event.description | limitTo: 260}}...
      </p>
      <strong> Tip ulaznice: {{rezervacija.type}} ({{rezervacija.count}}kom.) - {{rezervacija.count * rezervacija.price}} din. </strong>
    </aside>
  </section>

  <section class="pagination">
    <a href="">&laquo;</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">&raquo;</a>
  </section>
  
  <div class="alert snackbar" ng-if="vm.rezervacijaZaBrisanje">
    <span class="closebtn" ng-click="vm.rezervacijaZaBrisanje = false">&times;</span>  
    <p>
      <strong>Danger!</strong> Are you sure that you want to delete this reservation??
    </p>
    <button class="yes" ng-click="vm.ulogovanKorisnik.rezervacije.splice(vm.ulogovanKorisnik.rezervacije.indexOf(vm.rezervacijaZaBrisanje),1);vm.rezervacijaZaBrisanje=false;">Yes</button>
    <button class="no" ng-click="vm.rezervacijaZaBrisanje = false">No</button>
  </div>

</article>

<style type="text/css">
article.rezervacije {
  /*margin: 1em;*/
  padding: 1em;
  background-color: #fff;
  text-align: left;
}
article.rezervacije h2 {
  text-align: center;
}
section.rezervacija {
  background-color: #444;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}
section.rezervacija img {
  width: 20%;
  height: 180px;
  margin: 1em;
  /*padding: 1em;*/
  text-align: left;
  position: relative;
  object-fit: contain;
}
aside.rezervacija-info {
  display: inline-block;
  position: relative;
  /*top: -4em;*/
  width: 50%;
  height: 100%;
  /*margin: 1em;*/
  padding: 1em;
  text-align: left;
  /*background-color: #fff;*/
}
/*  Da li ste sigurni da zelite da ponistite rezervaciju?  */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    text-align: center;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.alert.snackbar {
  width: 77%;
  margin: 0%;
  /*min-width: 250px;*/
  display: block;
  /*margin: 22%;*/
  /*margin-left: -125px;*/
  /*background-color: #333;*/
  /*border-radius: 1em;*/
  /*padding: 16px;*/
  position: fixed;
  z-index: 1;
  /*left: 50%;*/
  bottom: 9em;
  font-size: 17px;
  box-shadow: 0px 0px 15px #333;
}
</style>